@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

:root {
  --main: #ffffff;
  --second: black;
  --font: 'Questrial', sans-serif;
  --price: 'Oxygen', sans-serif;
  --bg: rgb(255,241,247);
}

/* globals */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  margin: 0;
  background: var(--bg);
  background: radial-gradient(circle, rgba(255,241,247,1) 0%, rgba(220,236,255,1) 100%);
  overflow-x: hidden;
}
.invisible{
  display: none !important;
}




/*nav  */
.navbar {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-bottom: 1px black solid;

  gap: 3rem;

  background-color: #ffffff;


  height: 10rem;
  width: 100vw;
}

/* media query nav (desktop mode) */
@media (min-width:480px) {


.navbar {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  border-bottom: 1px black solid;

  gap: 3rem;

  background-color: #ffffff;


  height: 20rem;
  width: 100vw;
}
  
}
/*nav 1  */
.nav-1{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  height: 8rem;
  width: 100vw;

  margin: 1rem;
  padding: 2rem;
  gap: 2rem;
}
/* hamburger2 
.hamburger{
  display:flex;
  flex-direction:column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background:transparent;
  gap: .65rem;
  
}

#whopper > div{
  
}
*/

/* hamburger nonanimation*/
@media (min-width:481px) {
.hamburger{
  display:none;
}
}

@media (max-width:480px) {
  .hamburger{
  display: block;
  height: 4rem;
  width: 4rem;

  border: none;

  background-image: url(/img/whopper.png);
  background-size: 4rem;
  background-repeat: no-repeat;
  background-color: var(--main);
  cursor: pointer;
  
}



.menu-main{
  
  height: 40rem;
  width: 100vw;

  background: var(--main);
  border-bottom: 1px var(--second) solid;
  position: relative;
  z-index: 30;
}
}

.menuHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100vw;
}
.menuFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100vw;
}


.whopper-x{

  height: 4rem;
  width: 30rem;

  background-color: var(--second);
  color: var(--main);
  font-weight: 700;
  font-size: 3rem;
  border: 1px solid #fefdfd;
  border-radius: 2rem;
}

.menuListTopics{
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 100vw;

  gap: 5rem;
  padding: 1rem;

  align-items: center;

}
.MenuLTButtons{

  font-family: var(--font);
  font-size: 2.2rem;
  font-weight: 700;

  text-decoration: none;
  color: var(--second);

}



/* logo */
.logo {

  height: 8rem;
  width: 11rem;
  
  padding: .5rem;
  margin: 2rem 1rem 1rem 1rem ;

  background-image: url(../img/logo.png);
  background-size: 11rem;
  background-repeat: no-repeat;
  background-position: center;
  
}

/* media query search */
@media (max-width:480px) {
  
.search-bar{
  height: 4rem;
  max-width: 4rem;
  border: 1px solid white;
}

.search-field {
  display:none;
}
  

.search-button:hover{
  border: 1px solid white;
  cursor: pointer;
  }
}

/* search bar */
.search-bar{
  display: flex;
  flex-direction: row;
  
  height: 3rem;
  width: 50rem;
  
}
.search-field {
  
  height: 4rem;
  width: 40rem;

  border: 1px #747272 solid;
  
  border-radius: 2rem 0rem 0rem 2rem;

  text-indent: 3rem;
  text-decoration: none;
  
}
.search-button{

  height: 4rem;
  width: 5rem;

  background-color: var(--main);


  border-radius: 0rem 2rem 2rem 0rem;


  background-image: url(/img/loupe.svg);
  background-size: 2.5rem;
  background-position-x: 1rem;
  background-position-y: .5rem;
  background-repeat: no-repeat;
}

@media (max-width:480px) {

  .search-button{

    height: 4rem;
    width: 4rem;

  
    border: 1px solid white;
    
    background-image: url(/img/loupe.svg);
    background-size: 2.5rem;
    background-position-x: .8rem;
    background-position-y: 0rem;
    background-repeat: no-repeat;
    
  }
}

/* search area on click for mobile version */

@media (max-width:480px) {
  .searchArea-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 25rem;
    width: 35rem;

    margin:0px auto;
    margin-top: 2rem;
    border-radius: 2rem;

    background-color: var(--main);
    border: solid 1px var(--second);
  }
  .search-bar-mobile{
    display: flex;
    width: 30rem;
  }
  
  .search-field-mobile{
    height: 4rem;
    width: 27rem;
  
    border: none;
    border-bottom: 1px solid var(--second);
    background-color: var(--main);
  
  }  
}

@media (min-width:481px) {
    .searchArea-mobile{
      display: none;
    }
}


/* media query acc+cart */
@media (max-width:480px) {
  .acc{
  height: 3rem;
  width: 3rem;

  border: none;
  border-radius: 1rem;
  
  background-image: url(/img/ac.svg);
  background-size: 4rem;
  background-repeat: no-repeat;
  background-color: var(--main);
  cursor: pointer;
}

.cart{
  height: 3rem;
  width: 3rem;

  border: none;

  background-image: url(/img/bag.png);
  background-size: 3rem;
  background-repeat: no-repeat;
  background-color: var(--main);
  cursor: pointer;
}
.cart:hover{
  background-image: url(/img/open-bag.png);
}
}

/* acc+cart */
.acc{
  height: 3rem;
  width: 3rem;

  border: none;
  border-radius: 1rem;
  
  background-image: url(/img/ac.svg);
  background-size: 3rem;
  background-repeat: no-repeat;
  background-color: var(--main);
  cursor: pointer;
}

.cart{
  height: 3.1rem;
  width: 3.1rem;

  border: none;
  border-radius: 1rem;

  background-image: url(/img/bag.png);
  background-size: 3rem;
  background-repeat: no-repeat;
  background-color: var(--main);
  cursor: pointer;
}
.cart:hover{
  background-image: url(/img/open-bag.png);
}


/* nav 2 */
.nav-2{
  height: 5rem;
  width: 100vw;
  margin: .5rem;
  padding: .5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width:480px) {
  .nav-2{
    display: none;
  }
}


/* sub-sections */

.sub-sections{

  height: 4rem;
  width: 6rem;

  text-decoration: none;
  color: var(--second);

  font-size: 2rem;
  font-family: var(--font);
}
.sub-sections:hover{
  font-size: 2.4rem;
  margin-bottom: -3rem;
  border-bottom: 4px solid var(--second);
}


/* cart menu */

.cart-main{
  height: 50rem;
  width: 40rem;
  z-index: 20;

  position: absolute;
  margin-left: 65vw;
  background-color: var(--main);

  border-radius: 0rem 0rem 1rem 1rem;
  border: 1px black solid;
  overflow-x: hidden;
}
.head{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: var(--font);
  font-size: 2rem;
  height: 7rem;
}
.cart-articles{
  height: 27rem;
  width: 39.8rem;
  padding: .5rem;
}
.cart-p{
  height: 4rem;
  width: 39.8rem;
  font-family: var(--font);
  font-size: 2rem;
  color: var(--second);
  background-color: var(--main);
  border: 2px solid var(--second);
  cursor: pointer;
  margin-top: 1rem;
}
.cart-p:hover{
  font-weight: 700;
  color: var(--main);
  background-color: var(--second);
  font-size: 2.4rem;
  
}

/* account menu */
.acc-main{
  height: 40rem;
  width: 35rem;
  z-index: 20;

  position: absolute;
  margin-left: 70vw;
  background-color: var(--main);

  border-radius: 0rem 0rem 1rem 1rem;
  border: 1px black solid;
}
.acc-sections{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 27rem;
  width: 34.8rem;
  padding: .5rem;
}
.acc-sections-f{
  font-family: var(--font);
  font-size: 2.4rem;
  color: var(--second);
  text-decoration: none;
}
.acc-sections-f:hover{
  border-bottom: 2px solid var(--second);
}
@media (max-width:480px) {
  .cart-main{
    margin-left: 0vw;
    width: 100vw;
  }
  .acc-main{
    margin-left: 0vw;
    width: 100vw;
  }
  .cart-p{
    width: 100vw;
  }
  .acc-sections{
    width: 100vw;
  }
  .cart-articles{
    width: 100vw;
  }
}


.cart-x{
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--second);
  border-radius: 0 0 0 2rem;
  background-color: var(--second);
  color: var(--main);
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.cart-trash{
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--second);
  border-radius: 0 0 2rem 0;
  background-color: var(--second);
  color: var(--main);
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-image: url(./img/tc.png);
  background-repeat: no-repeat;
  background-size: 2.7rem;
  background-position-x: 1rem;
  background-position-y: 1rem;
}

/* cart articles container */

.cart-container{
  height: 40rem;
}
#cart-subhead{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 2.5rem;
  gap: 7rem;
  margin-left: 2rem;
}
h5{
  font-family: var(--font);
  font-size:1.9rem ;
}
.each-article{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font);
  font-size: 1.4rem;
  border-bottom: 1px solid rgb(236, 234, 234);
  border-top: 1px solid rgb(236, 234, 234);
}
#cart-a-container{
  height: 30rem;
  padding: 1rem;
  overflow-y: scroll;
}
.cart-x-mini{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;


  margin: 0rem;

  border: 1px solid var(--second);
  border-radius: 2rem;
  background-color: var(--second);
  color: var(--main);
  font-weight: 700;
  cursor: pointer;

}
p{
  margin: 0;
}
#total {
  height: 5rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-family: var(--font);
  font-size: 2rem;
}




/* nav-2 subsection menu */

.nav-sub{
  height: 25rem;
  width: 100vw;
  z-index: 40;
  padding: 2rem;

  border-bottom: 1px black solid;

  background: rgb(254,237,204);
  background: radial-gradient(circle, rgba(254,237,204,1) 0%, rgba(220,255,220,1) 100%);
}
.nav-sub-topics{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

  height: 5rem;
  width: 100vw;
}
.nav-sub-topics-f{
  font-family: var(--font);
  font-size: 2rem;
  border-bottom: 1px solid var(--second);
}
.nav-sub-subtopics{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
  width: 100vw;
}
.nav-sub-subcontainer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.nss-font{
  font-family: var(--font);
  font-size: 1.4rem;
  color: var(--second);
  text-decoration: none;
}

/* main content */



/* ads slider */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 20rem;

  position: relative;
  margin: auto;
  cursor: pointer;
  z-index: 10;
}
.slider-img{
  object-fit: cover;
  border: 1px solid var(--second);
}

@media (min-width:481px) {
  .slideshow-container{
  max-width: 1000px;
  height: 35rem;
  position: relative;
  margin: auto;
  }
}

@media (min-width:481px) {
  .slider-img{
    height: 35rem;
    border: none;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--second);
  font-weight: bold;
  font-size: 18px;
  font-family: var(--font);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-family: var(--font);
  color: var(--second);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 20%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slots {
  margin-top: -5rem;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* main carousels  */

.product-carousel{
  display: flex;
  flex-direction: row;

}

@media (min-width:481px) {
  .button-slide{
    position: relative;
    top: 13.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
  
    border: 1px solid rgba(229, 227, 227, 0.799);
    border-radius: 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    cursor: pointer;
  
    background-color: var(--main);
  }
  .button-slide-left{
    position: relative;
    top: 13.5rem;
    left: 3.5rem;
    height: 4rem;
    width: 4rem;
  
    border: 1px solid rgb(179, 179, 179);
    border-radius: 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    cursor: pointer;
  
    background-color: var(--main);
  }
  .button-slide:hover, .button-slide-left:hover{
    border: 1px solid rgb(130, 128, 128);
  }  
}

@media (max-width:480px) {
    .button-slide, .button-slide-left{
      display: none;
    }
}

/* cards section */
.cards-container{
  display: flex;
  flex-direction: row;

  
  overflow-x: scroll;
  scroll-behavior: smooth;

  height: 30rem;
  width: 100vw;

  gap: 1.7rem;

  padding: 1rem;
}

@media (min-width:481px) {
  .cards-container{

    height: 30rem;
    width: 69vw;
    gap: 2rem;
    
    overflow-y: hidden;
    overflow-x: hidden;
  }
}


/* news section */

.news-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 110rem;
  width: 100vw;

  gap: 1rem;

  margin: 0 auto;
  margin-top:  -5rem;
  padding: .5rem;
}

.news-title{
  font-family: var(--font);
  font-size: 2.4rem;
  font-weight: 400;
}
@media (min-width:481px) {
    .news-section{
      height: 145rem;
    }
}
/* product-card */

/* default card */
.card-default{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--second);
  
  max-height: 25rem;
  max-width: 35rem;
  border-radius: 2rem;
  

  background-color: var(--main);

}

.card-up{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 12rem;
  padding: 1rem
}

.img-product{
  display: block;
  height:9rem;
  width: 11rem;
}


.card-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  height: 14rem;
  width: 12rem;
  margin-top: -2rem;
}

.card-name{
  text-align: center;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.7rem;
}
.card-price{
  font-family: var(--font);
  font-weight: 700;
  font-size: 2rem;
}
.card-cartbutton{
  height: 3.5rem;
  width: 3.5rem;

  border-radius: 2rem;
  border: 1px solid var(--second);
  background-image: url(./img/bag-card.png);
  background-size: 2rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: var(--second);
}
.card-cartbutton:hover{
  background-image: url(./img/check.png);
}
.merch-ad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 25rem;
  width: 100vw;
  margin-top: 5rem;
  margin-bottom: 0rem;

  background-repeat: no-repeat;
  background-image: url(./img/newseller.png);
  background-size: contain;
}
.merch-ad-up {
  display: flex;
  flex-direction: row-reverse;
  gap: 0rem;
}
.merch-ad-down {
  display: flex;
  flex-direction: row;

  
}
.button-newseller{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 1rem 1rem 0;

  height: 3.5rem;
  width: 10rem;
  color: var(--main);
  font-family: var(--font);
  font-size: 2rem;

  background-color: var(--second);
  cursor: pointer;
}
#email {
  border-radius: 1rem 0 0 1rem;

  height: 3.5rem;
  width: 14rem;
  font-family: var(--font);
  font-size: 2rem;
  border: 1px solid var(--second);
}

@media (min-width:481px) {
    #email {
      width: 20rem;
    }
}


@media (min-width:481px) {
  .card-default{
    min-height: 26rem;
    min-width: 20rem;
    border-radius: 2rem;
    border: 1px solid var(--second);
    
  
    background-color: var(--main);
  
  }
  
  .card-up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 20rem;
    padding: 1rem
  }
  
  .img-product{
    display: block;
    height:13rem;
    width: 15rem;
  }
  
  
  .card-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
  
    height: 13rem;
    width: 20rem;
    margin-top: -4.5rem;
    border-radius: 0 0 2rem 2rem;
  
  }
  
  .card-name{
    text-align: center;
    font-family: var(--font);
    color: var(--second);
    font-weight: 400;
    font-size: 1.7rem;
  }
  .card-price{
    font-family: var(--price);
    font-weight: 700;
    font-size: 2rem;
    color:var(--second)
  }
  
  .card-cartbutton{
    height: 4rem;
    width:10rem;
    background-color: var(--main);
    background-image: url(./img/cart.png);
    border: 1px solid var(--second);
    background-size: 2.4rem;
    cursor: pointer;
  }
  .card-cartbutton:hover{
    height: 4rem;
    width: 10rem;
    background-color: var(--main);
    background-image: url(./img/cart.png);
    border: 1px solid var(--second);
    background-size: 3.4rem;
  }
  .merch-ad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    min-height: 35rem;
    width: 70vw;
    margin: 10rem;
  
    background-repeat: no-repeat;
    background-image: url(./img/newseller.png);
    background-size: 70vw;
  }
}


/* footer */

.footer{
  height: 33rem;
  width: 100vw;
  background: radial-gradient(circle, rgba(240,237,255,1) 0%, rgba(244,244,244,1) 100%);
}
.footer-head{
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 100vw;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid rgb(201, 201, 201);
  background-color: var(--main);

}
.footer-img{
  display: block;
  width: 10%;
}
.footer-down{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
h4{
  font-family: var(--font);
  font-size: 1.6rem;
}
.footer-links{
  font-family: var(--font);
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--second);
}
.sm{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.sm-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--second);
  border-radius: 2rem;
  font-family: var(--price);
  font-weight: 700;
  text-decoration: none;
}
.ig{
  background-image: url(./img/instagram.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: .29rem;
}
.tw{
  background-image: url(./img/twitter.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: .29rem;
}
.tt{
  background-image: url(./img/tiktok.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: .29rem;
}

@media (min-width:481px) {
    .footer{
      height: 36rem;
    }
    .footer-head{
      height: 15rem;
    }
    .footer-img{
      width: 5%;
    }
    h4{
      font-family: var(--font);
      font-size: 2.6rem;
    }
    .footer-links{
      font-family: var(--font);
      font-size: 1.9rem;
      text-decoration: none;
      color: var(--second);
    }
    .sm{
      justify-content: center;
      gap: 5rem;
    }
}


/* custom scrollbar */

/* width */
#cart-a-container::-webkit-scrollbar {
  width: 15px;
}

/* Track */
#cart-a-container::-webkit-scrollbar-track {
  border-radius: 10px;

}

/* Handle */
#cart-a-container::-webkit-scrollbar-thumb {
  background: var(--second);
  border-radius: 5px;
}

/* Handle on hover */
#cart-a-container::-webkit-scrollbar-thumb:hover {
    border: var(--main) solid 1px;
}

